<section class="customer_page">
  <div class="container px-4 px-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-lg-6">
        <%= image_tag @customer.get_profile_image(500,400) %>
      </div>
      <div class="col-lg-6">
        <h3 class="display-5 fw-bolder">
          <%= @customer.full_name_kana %>
        </h3>
        <h1 class="display-5 fw-bolder">
          <%= @customer.full_name %>
        </h1>
        <p class="school_year">
          <%= @customer.faculty %>
          <%= @customer.school_year %>
          
        </p>
        <p class="introduction">
          <%= @customer.introduction %>
        </p>
        <div class="link">
          
          <% if current_customer != @customer %>
            <% if current_customer.requesting_customer?(@customer) %>
            <%= link_to "申請取り消し", friend_requests_path({customer_id: @customer.id, reaction: "unaccept"}), method: :post, class: "btn btn-primary mx-2" %>
            <% else %>
            <%= link_to "フレンド申請", friend_requests_path({customer_id: @customer.id, reaction: "approve"}), method: :post, class: "btn btn-primary mx-2" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

