<h1>座席登録</h1>
<%= form_with model: @lecture, url: admin_lectures_path, method: :post do |f| %>
<div class="lecture_field">
<%= f.text_field :lecture_name %>
</div>
<div class="seat_field">
縦
<%= f.select :row, *[1..10] %>
横
<%= f.select :col, *[1..10] %>
<%= f.submit "作成" %>
<% end %>
</div>


