<div class="container py-5 px-4 text-center">
  <%= form_with model: @lecture, url: admin_lectures_path, method: :post do |f| %>
  <h2 class="fw-bolder mb-5">教室作成</h2>
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="lecture_field">
        <%= f.label :lectrue_name, "講義名入力" %><br>
        <%= f.text_field :lecture_name %>
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-auto">
      <div class="seat_field">
        <%= f.label :row, "縦" %><br>
        <%= f.select :row, *[1..10] %>
      </div>
    </div>
    <div class="col-auto">
      <h3 class="mt-3">×</h3>
    </div>
    <div class="col-auto">
      <div class="seat_field">
        <%= f.label :col, "横" %><br>
        <%= f.select :col, *[1..10] %>
      </div>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col">
      <div class="field">
        <%= f.submit "作成", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  


